body {
  background-color: rgb(238, 248, 245);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.graph {
  max-width: 780px;
}

.chart {
  border-radius: 12px;
  background-color: rgb(129, 211, 177);
  padding: 16px;
}

h1 {
  margin: 0;
  color: rgb(129, 211, 177);
  font-size: 48px;
  padding-bottom: 8px;

}

p {
  background-color: white;
  padding: 8px 16px;
  border-radius: 4px;
}

.total {
  background-color: rgb(129, 211, 177);
  border: 2px solid #FFF;
  font-weight: bold;
}

.rv-xy-plot {
  transform: translateX(-20px);
}

.rv-xy-plot__axis__tick__text {
  fill: #111 !important;
  font-size: 12px !important;
}